body, html {
	margin: 0;
	padding: 0;
	border: none;
}

header {
	width: 100%;
	background-color: #FFC2CE;
}

header {
	width: 100%;
	background-color: #FFC2CE;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
}

nav {
	max-width: 960px;
	margin: 0 auto;
}

nav ul {
	list-style: none;
	margin: 0 auto;
}

nav li {
	float: left;
	margin: 0 15px;
	text-align: center;
}

.feature {
	width: 100%;
	height: 450px;
	background-color: red;
	background-image: url(../_images/cupcake-feature.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 20px;
	margin-bottom: 0px;
}

.feature-content {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;

	/*Center Vertically*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;

	animation: fade-up 1.5s ease-in; 
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 80px;
	line-height: 1;
	margin: 0;
}

.feature-content p {
	font-family: 'Lora', serif;
	font-size: 20px;
	line-height: 1.6;
	margin: 0;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	font-size: 32px;
	margin: 0;
}

.history {
	margin: 0;
	background-color: #FFC2CE;
	text-align: center;

	padding: 100px 20px;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.history p {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;

	font-family: 'Lora', serif;
	font-size: 16px;
	line-height: 1.4;
}

.ingredients {
	background-color: transparent;
}

.ingredients:after {
	content: '';
	display: table;
	clear: both;
}

.left-column {
	width: 40%;
	float: left;
}

.right-column {
	width: 50%;
	float: left;
}

.overlap {
	transform: translateY(-50px);
	display: block;
}

img {
	width: 100%;
}

.button {
	text-decoration: none;
	background-color: rgb(22, 110, 161);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;

	transition: all .5s ease-in;
}

.button:hover {
	transform: translateY(-5px) scale(1.1);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}




@media all and (max-width: 640px) {
	.left-column {
		width: 100%;
	}

	.right-column {
		width: 100%;
	}
}










@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(-50%);
	}
}


