.row {
    width: 960px;
    border: 1px solid red;
    margin: auto;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='column'] {
    float: left;
    box-sizing: border-box;
    border: 1px solid blue;
    padding: 20px;
    background-color: #555;
    margin-right: 20px;
}

[class*='column']:last-of-type {
    margin-right: 0;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: 33.3%;
}

h2 {
    text-align: center;
}

.headline {
    width: 100%;
    margin: auto;
}


body {
    padding: 0;
    margin: 0;
}


.skateboarding {
    width: 100%;
    height: 400px;
    background-color: #000;

    background-image: url(../_images/skateboarding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    position: relative;
}

.skateboarding-content {
    width: 300px;
    border: 1px solid red;

    position: absolute;
    bottom: 50px;
    right: 50px;
}



.intro {
    /*width: 500px;FIXED WIDTH*/
    /*width: 50%;FLUID WIDTH*/
    /*border: 1px solid #555;

    margin: auto;

    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;


    padding: 50px;
    padding-left: 200px;
    padding-top: 500px*/


    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;

    padding-top: 100px;
    padding-bottom: 100px; 
}


.intro-content {
    width: 900px;
    margin: auto;
}























/*.row {
    width: 960px;
    margin: auto;
    border: 1px solid blue;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='column-'] {
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    border: 1px solid red;
}

[class*='column-']:last-of-type {
    margin-right: 0;
}

.column-2 {
    width: 50%;
}*/