.row {
    width: 960px;
    border: 1px solid red;
    margin: auto;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='column'] {
    float: left;
    box-sizing: border-box;
    border: 1px solid blue;
    padding: 20px;
    background-color: #555;
    margin-right: 20px;
}

[class*='column']:last-of-type {
    margin-right: 0;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: 33.3%;
}

h2 {
    text-align: center;
}

.headline {
    width: 100%;
    margin: auto;
}
























/*.row {
    width: 960px;
    margin: auto;
    border: 1px solid blue;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='column-'] {
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
    border: 1px solid red;
}

[class*='column-']:last-of-type {
    margin-right: 0;
}

.column-2 {
    width: 50%;
}*/